(function ()
{
    function Controller ()
    {
        return {
            APP_KEY : '',
            APP_ENV : 'develop',
            SCRIPT_ROOT : __dirname + '/app/',
            MONGO_URL : 'mongodb://localhost:27017/chat',
        };
    }

    module.exports = Controller;

})();


