(function ()
{

    module.exports = {

        APP_KEY : '',
        APP_ENV : 'develop',
        SERVER_ROOT : __dirname + '/app/server',
        CLIENT_ROOT : __dirname + '/app/client',

        MONGO_URL : 'mongodb://localhost:27017/chat',
        LISTEN_PORT : 8082,

        LISTEN_PROTOCOL : 'wss',

        SSL_KEY : '/etc/letsencrypt/live/adamkunz.net/privkey.pem',
        SSL_CERTIFICATE : '/etc/letsencrypt/live/adamkunz.net/fullchain.pem'

    };

})();


